<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimplyU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <userSettings>
    <SimplyU.Properties.Settings>
      <setting name="dev_install_rec" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_sel_firmware" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_self_host" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_target" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_ddd" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_sd_caffiine" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_sav" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_pong" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_gac" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_tic" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_pac" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_u_paint" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_ftp" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_ast" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_nnu" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_geck" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_gbiine" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_tcp" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_hid" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_snake" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_cave" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_chip" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_wiiu_key" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_wup" serializeAs="String">
        <value />
      </setting>
      <setting name="sd_form" serializeAs="String">
        <value />
      </setting>
      <setting name="sd_form_drive" serializeAs="String">
        <value />
      </setting>
      <setting name="sd_form_cluster" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_upd" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_grab_night" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_cleanup" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_dev_mode" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_space" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_our" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_app_dark" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_poke" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_hid_key" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_live" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_synth" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_ios" serializeAs="String">
        <value />
      </setting>
      <setting name="inst_flappy" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_bck_music" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_log_dump" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_log_state" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_bck_music_en" serializeAs="String">
        <value />
      </setting>
      <setting name="terms_agreed" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_guide" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_rednand" serializeAs="String">
        <value />
      </setting>
      <setting name="dev_theme" serializeAs="String">
        <value />
      </setting>
    </SimplyU.Properties.Settings>
  </userSettings>
</configuration>