<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimplyU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SimplyU.Properties.Settings>
            <setting name="dev_install_rec" serializeAs="String">
                <value />
            </setting>
            <setting name="dev_sel_firmware" serializeAs="String">
                <value />
            </setting>
            <setting name="dev_self_host" serializeAs="String">
                <value />
            </setting>
            <setting name="dev_target" serializeAs="String">
                <value />
            </setting>
        </SimplyU.Properties.Settings>
    </userSettings>
</configuration>